# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.gz

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
